* {
  box-sizing: border-box;
}

.attribution {
    text-align: center;
    margin-top: 1.2rem;
    font-family: var(--paragraph-font);
    line-height: 2;
}

.attribution > a {
    border-bottom: 3px solid dodgerblue;
    text-decoration: none;
    color: black;
    
}

.attribution > a:hover {
    color: dodgerblue;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-col {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.between {
  justify-content: space-between;
}

.no-margin {
    margin: 0;
}
